<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <property name="errorHandler">
            <bean class="com.hp.sv.runtime.reports.inmemory.rest.client.RuntimeReportsClientResponseErrorHandler"/>
        </property>
    </bean>
    <bean name="runtimeReportClient" id="runtimeReportClient"
          class="com.hp.sv.runtime.reports.inmemory.rest.client.RuntimeReportsClient" autowire="constructor">
        <constructor-arg name="serverUri" value="${server.url}"/>
        <constructor-arg name="serverPort" value="${server.port}"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <value>classpath:com/hp/sv/runtime/reports/inemory/rest/client/client.properties</value>
        </property>
        <property name="searchSystemEnvironment" value="true"></property>
        <property name="systemPropertiesMode">
            <util:constant
                    static-field="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        </property>
    </bean>

</beans>